/* Estilo básico para o body */
body {
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para a navegação */
nav {
    background-color: #333;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    margin: 0;
    position: fixed; /* Fixa no topo */
    width: 100%; /* Ocupa toda a largura */
    top: 0; /* Fixa no topo da página */
}

ul li {
    margin: 0 20px; /* Adiciona espaçamento entre os itens */
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ff6347; /* Cor ao passar o mouse */
}

/* Estilo para os títulos */
h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

