body {
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 50%; 
    display: flex;
}

h1, h2 {
    text-align: center;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

div > label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    border: none;
    padding: 0;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: darkgray;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color:black;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    display: flex;
    justify-content: center; /* Centraliza os links de navegação horizontalmente */
    align-items: center;
    gap: 10px;
    text-align: center;
}
