
body {
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #333;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
}

ul li {
    margin: 0 20px; 
}

a {
    color: black;
    text-decoration: none;
}




h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

